@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html{
    box-sizing: border-box;
    margin:0;
    padding:0;
    overflow-x: hidden;
}



body
{
    
   margin: 0;
   padding: 0;
   background-color:white;
   font-family: 'Montserrat', sans-serif;
   overflow-x: hidden;
}



.navigation
{
    padding-top: 2rem;
    color:white;
    background-color: #BE185D;
    padding: 1rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    width:100%;
}


.image-container
{
    padding:2rem;
   
}

.image-container .image 
{
    max-width: 550px;
    display: block;
   margin: auto;
}
.heading
{
    text-align: center;
    padding-top: 1rem;
   
}

.heading h3
{
    font-size: 2rem;
}
.heading p
{
    font-size: 1rem;
}

.two , .three
{
    padding-top: 1rem;
    background-color: #6b0f1a;
    background-image: linear-gradient(315deg, #6b0f1a 0%, #b91372 74%);
    
    text-align: center;
    padding-bottom: 1.5rem;
   
   
}

.two a , .three a 
{
    text-decoration: none;
    color:white;
}

.three 
{
    background-color: #eec0c6;
background-image: linear-gradient(315deg, #eec0c6 0%, #e58c8a 74%);

}

footer
{
    padding-top: 1rem;
    background-color: black;
    text-align: center;
    padding-bottom: 0.5rem;
   
}


footer ul
{
    list-style: none;
    
}
footer ul li
{
    display: inline;
    
    padding-right: 0.5rem;
    
}

footer ul li a 
{
    text-decoration: none;
    color:black;
    font-weight:bold;
}

@media screen  and (max-width:568px)
{
    .image-container .image 
    {
        max-width: 400px;
    }
    .image-container
    {
        padding: 1rem;
    }

    footer ul li 
    {
        padding-right: 0.2rem;
    }

    footer ul li a
    {
        font-size: 0.76rem;
    }
}