@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  background: #FBBF24;
  overflow-y: hidden;
  
   /* flex-direction: column;
   justify-content: center;
   align-items: center; */ 
}

.navigation {
  color: white;
  color: #FEF3C7;

  background-color: #4b5563;
  padding: 0.4rem;
  width: 100%;
}
.navigation h2 {
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
  letter-spacing: 4px;
  font-weight: 600;
}


.container 
{
    width: 100%;
    min-height: 200px;
    margin: 0 auto;
    display: -webkit-flex; /* Safari */     
    display: flex; /* Standard syntax */
}

.container .content
{
    padding: 10px;
    /* background: #dbdfe5; */
    -webkit-flex: 1; /* Safari */
    -ms-flex: 1; /* IE 10 */
    flex: 1; /* Standard syntax */
    margin: 0 auto;
    text-align: center;
    background-color:  #FBBF24;;
   
}
.container .content h1 
{
    margin-top: 30%;
    letter-spacing: 2px;
    font-size: 3.1rem;
}

.container .content p
{
    font-size: 1.5rem;
    color: #DC2626;
    font-weight: bold;
}

.container .content button a 
{
    background-color: black;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
}

.container .content button
{
    background-color: black;
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
}

.container .image-container
{
    background: #FBBF24;
    flex: 1;
}
.image-container {
  padding: 2rem;
}

.image-container .image {
  max-width: 500px;
  display: block;
  margin: auto;
}

section 
{
    background-color:   black;
    padding: 0.3rem;
    color: white;
    font-size: 0.7rem;

}

.container1
{
    text-align: center;
    margin:100px auto 0;
    padding:  0;
    font-family: "ARIAL BLACK";
    background-color: white;
    /* background-color: white; */
}

.container1 span
{
    font-size: 5em;
    color:#B91C1C;
    position:relative;
    text-shadow: -1px 0 0 rgba(0,0,0,0.2);
    
}

.container1 span:before
{
    content: attr(data-title);
    position: absolute;
    top: 0;
    left: 0;
    color: #FBBF24;
    transform-origin: left;
    transition: 0.5s cubic-bezier(0,1.88,0.83,0.67) ;
    transform: rotateY(25deg);
    z-index: 2;


}

.container1 span:after
{
    content: attr(data-title);
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(0,0,0,0.1);
    transform-origin: left;
    transition: 0.5s cubic-bezier(0,1.88,0.83,0.67) ;
    transform: rotateY(5deg) scale(1.07,1) skewY(3deg);
    z-index: 1;
    opacity: 0.5;


}

.container1 span:hover:before 
{
    transform: perspective(1000px) rotateY(-45deg);
}

.container1 span:hover:after 
{
    transform: rotateY(0deg) scale(1.11,1) skewY(6deg);
}


@media screen and (max-width:568px)
{
    .container
    {
        width: 100%;
        min-height: 300px;
        margin: 0 auto;
        display: -webkit-flex; /* Safari */     
        display: flex; /* Standard syntax */
        flex-direction: column-reverse;
    }

    .container .content h1 
    {
        font-size: 2.2rem;
        width: 100%;
        padding: 1rem;
        margin-top: 20%;
        letter-spacing: 1px;
    }

    .container .content p 
    {
        font-size: 1rem;
    }
    .image-container
    {
   
        text-align: center;
    }

    .image-container .image
    {
        max-width: 400px;
        
    }
    .container1 span
    {
        font-size: 2em;
    }
    section 
    {
        font-size: 0.5rem;
    }
}